<div class="row">
  <div class="col-md-6">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search by
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="changeSearchBy('name')">Name</a></li>
        <li><a (click)="changeSearchBy('phone_number')">Number</a></li>
        <li><a (click)="changeSearchBy('address')">Address</a></li>
      </ul>
      <input type="text" [(ngModel)]="queryString" id="search" placeholder="{{searchBy}}...">
  </div>
  <div class="col-md-6">
    <h4>Sort by: </h4>
      <form>
          <input type="radio" name="gender" value="aToZ" [(ngModel)]="sortBy" checked> A to Z<br>
          <input type="radio" name="gender" value="zToA" [(ngModel)]="sortBy"> Z to A<br>
        </form>
  </div>
</div>

<div class="row">
  <ul class="list-group">
    <li class="contact-info list-group-item" *ngFor="let contact of contacts | filter:queryString:searchBy | sort:sortBy">
      <h4>{{contact.name}}</h4>
      <p>{{contact.phone_number}}</p>
      <p>{{contact.address}}</p>
    </li>
  </ul>
</div>
