<div class="row">
  <div class="col-md-6">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search by
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="changeSearchBy('name')">Name</a></li>
        <li><a (click)="changeSearchBy('phone_number')">Number</a></li>
        <li><a (click)="changeSearchBy('address')">Address</a></li>
      </ul>
      <input type="text" [(ngModel)]="queryString" id="search" placeholder="{{searchBy}}...">
  </div>
</div>

<div class="row">
  <ul>
    <li class="contact-info" *ngFor="let contact of contacts | filter:queryString:searchBy">
      <h4>{{contact.name}}</h4>
      <p>{{contact.phone_number}}</p>
      <p>{{contact.address}}</p>
    </li>
  </ul>
</div>
